@font-face {
  font-family: 'icones';
  src: url("icones.ttf");
}
body {
    background-color: ;
    font-family: "Verdana", 'icones', sans-serif;
}
.cabecalho {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background-color: cornsilk;
  padding: 8px 16px;
  color: #1d232a
}
.cabecalho__menu i::before {
  content: "\e904";
  font-size: 24px;
}
.menu-lateral {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  color: #1d232a;
  width: 75vw;
  height: 100vh;
}
p {
    font-size: 20px;
    color: darkgray;
    font-family: Arial;
    font-style: bold;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}
.box {
    background-color: gray;
    padding: 10px;
    height: 130px;
    width: 100px;
    }    
    .avatar {
        width: 300px;
        border-radius: 20%;
        float: left;
      }
      
      .bio {
        height: 90%;
        text-align: center;
        background: linear-gradient(#ff9901, #ffff1a, #00802b);
        width: 50%;
        padding: 30px;
        border: 1px solid gray;
      }
      
      .center {
        display: block;
        margin: 0 auto;
      }
      
      .content {
        margin: 70px;
      }
.habilidades {
  font-size: 14px;
  font-style: italic
}
.interesses {
  font-size: 14px;
  font-style: italic;
  font-weight: 400
}